<ion-header>
  <ion-toolbar>
      <ion-title>
    <button (click)="onclickback()"><ion-icon name="ios-arrow-back"></ion-icon></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Checkout</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content padding>

    <div>
    <h1>Order details</h1>
    <table border-radius="3px" >
      <th>Image</th>
      <th>name</th>
      <th>price</th>
      <th>total</th>
      &nbsp;
      <tr *ngFor="let item of cart_arr,let i=index">
          <td><img src="http://localhost:3000/images/product/{{item.fk_p_img}}" alt="no image" height="50px" width="50px"></td>
        <td>{{item.fk_p_name}}</td>
        <td>{{item.c_price}}</td>
        <td></td>
        <td>{{tot[i]}}</td>
        <td>
          <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="ondelete(item,i)"></span>
        </td><hr>
      </tr>
      <tr>
        <td>{{total}}</td>
      </tr>
    </table>
    <button *ngIf="cartpro_arr.length>0" (click)="oncheck()" class="btn btn-primary">CheckOut</button>
  </div>
</ion-content> 


