<ion-header>
  <ion-toolbar>
      <ion-title>
    <button (click)="onclickback()"><ion-icon name="ios-arrow-back"></ion-icon></button>
    Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

      <form (ngSubmit)="addForm(f)" #f="ngForm">
        <br>
        <br>
        <div class="card">
          <h1>Update Your Password</h1>
          <br>
          <div class="container">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Old Password" id="Password" required
                name="Password" 
                #Password="ngModel" [(ngModel)]="oldpswd">
              </mat-form-field>
              <div [hidden]="Password.valid || Password.untouched">
                <div [hidden]="!Password?.errors?.required"></div>
                <mat-error>Please Enter Your Old Password</mat-error>
              </div>
            </div>
        </div>
          
        <div class="container">
          <div class="form-group">
            <!-- <b>Enter New Password</b> -->
            <mat-form-field class="example-full-width">
              <input matInput  id="pswd" required
              name="pswd" type="password" placeholder="Enter New Password"
              #pswd="ngModel" [(ngModel)]="newpswd">
            </mat-form-field>
            <div [hidden]="pswd.valid || pswd.untouched">
              <div [hidden]="!pswd?.errors?.required"></div>
              <mat-error>Please Enter New Password</mat-error>
            </div>
          </div>
        </div>
          <p><button class="btn1" [disabled]="!f.valid" (click)="onupdate()">Done</button></p>
          <p><button class="btn1" (click)="oncancel()">Cancel</button></p>
        </div>
      </form>

</ion-content>
