<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<!-- 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="http://localhost:3000/images/product/profile.jpg">
        <br>
        <button type="submit" class="btn" mat-raised-button color="primary" (click)="onupdate()">Edit Profile</button>
        &nbsp;&nbsp;
        <button mat-raised-button class="btn"  color="warn" (click)="onpswd()">Edit Password</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
  
  
  
  <form class="example-form container" style="font-size: 15px;">
    <mat-form-field class="example-full-width">
        <input disabled matInput [(ngModel)]="email_id" name="email_id">
      </mat-form-field>
    <br>
  <mat-form-field class="example-full-width">
      <input disabled matInput [(ngModel)]="u_name" name="u_name">
    </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
      <input disabled matInput [(ngModel)]="u_gender" name="u_gender">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input disabled matInput  [(ngModel)]="u_address" name="u_address">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input disabled matInput matInput  [(ngModel)]="u_city" name="u_city">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input disabled matInput [(ngModel)]="u_mno" name="u_mno">
    </mat-form-field>
    <br>
    
  </form> -->



  <form>
    
    <div class="card" *ngFor="let item of infoarr">
      <img src="http://localhost:3000/images/product/profilelogo.jpg" style="height:40%;width:40%;">
      <h1>{{item.u_name}}</h1>
      <p class="title">{{item.email_id}}</p>
      <p class="title">{{item.u_address}}</p>
      <p class="title">{{item.u_city}}</p>
      <p class="title">{{item.u_mno}}</p>
      
      <p><button (click)="onpswd()">Edit Password</button></p>
      <p><button (click)="onupdate()">Edit Profile</button></p>
    </div>
  
  </form>


</ion-content>
