<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-toolbar>
  <ion-button expand="full" color="danger" (click)="oncheckout()">CHECKOUT</ion-button>
  </ion-toolbar>
<ion-content padding>
    <ion-list *ngFor="let item of cartarr,let i=index" >
        <ion-item >
          <ion-avatar slot="start">
              <img src="http://localhost:3000/images/product/{{item.fk_p_img}}" style="height:50px;width:60px;">
          </ion-avatar>
          <ion-label>
            <h2><b>{{item.fk_p_name}}</b></h2>
            <h3><b>{{item.c_qty}} gm</b></h3>
            <h3>Total value : {{tot[i]}} Rs.</h3>
            <h3>QTY: {{qty[i]}}</h3>
            <select [(ngModel)]="qty[i]"  (change)="onchange(item,i)">
              <option *ngFor="let item of qtyarr">
                {{item}}
              </option>
            </select><ion-icon style="margin-left:80px;"name="trash" (click)="onclickdelete(item)"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
