<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        </ion-buttons>
    <ion-title>
        <button (click)="onclickback()"><ion-icon name="ios-arrow-back"></ion-icon></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cat_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar (ionChange)="changeditems(searchedItem)" [(ngModel)]="searchedItem" placeholder="Search Products here..."></ion-searchbar>
  </ion-toolbar>
<ion-content padding>
    <ion-list *ngFor="let item of proarr" (click)="onclickpro(item)" >
        <ion-item >
          <ion-avatar slot="start">
              <img src="http://localhost:3000/images/product/{{item.p_img}}" style="height:50px;width:60px;">
          </ion-avatar>
          <ion-label>
            <h2><b>{{item.p_name}}</b></h2>
            <h3>Rs.{{item.p_price}}</h3><ion-button style="margin-left:85px;margin-top:-10px;">Add</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
