<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>product<ion-icon (click)="onclickcart()" style="margin-left:130px;margin-top:15px;" name="cart"></ion-icon></ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-toolbar>
   
    <!-- <input  type="text" (onkeypress)="onsearch()" placeholder="search products" [(ngModel)]="search"> -->
    
    <!-- <input matInput (keyup)="triggerSearch($event.target.value)" placeholder="Search Product" >     -->
   
  <!-- {{searchTerm}} -->
  <ion-searchbar value="" (ionChange)="changeditems(searchedItem)" [(ngModel)]="searchedItem" placeholder="Search Products here..."></ion-searchbar>
  <button (click)="ongosplash()">spalsh</button>
</ion-toolbar>
<ion-content padding>
    <ion-list *ngFor="let item of proarr" (click)="onclickpro(item)" >
       <ion-item >
          <ion-avatar slot="start">
              <img src="http://localhost:3000/images/product/{{item.p_img}}" style="height:50px;width:60px;">
          </ion-avatar>
          <ion-label>
            <h2><b>{{item.p_name}}</b></h2>
            <h3>Rs.{{item.p_price}}</h3><ion-button (click)="onclickadd(item)" style="margin-left:85px;margin-top:-10px;">Add</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>

</ion-content>
<ion-footer style="background-color:white;">
  <ion-button style="width:48%;" size="small" (click)="onclickfilter()" color="light"><ion-icon name="options"></ion-icon>Filter</ion-button>
  <ion-button style="width:48%;" size="small" (click)="onclicksort()" color="light"><ion-icon name="swap"></ion-icon>Sort</ion-button>
</ion-footer>

