<ion-header>
  <ion-toolbar>
    <ion-title>
    <button (click)="onclickback()"><ion-icon name="ios-arrow-back"></ion-icon></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
      
      
      
      <form class="example-form container">
        <b>Email Id</b>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="email_id" name="email_id">
          </mat-form-field>
        <br>
        <b>Name</b>
      <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="u_name" name="u_name">
        </mat-form-field>
      <br>
      <b>Gender</b>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="u_gender" name="u_gender">
        </mat-form-field>
        <br>
        <b>Address</b>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="u_address" name="u_address">
        </mat-form-field>
        <br>
        <b>City</b>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="u_city" name="u_city">
        </mat-form-field>
        <br>
        <b>Mobile No.</b>
        <mat-form-field class="example-full-width">
          <input matInput  [(ngModel)]="u_mno" name="u_mno">
        </mat-form-field>
        <br>
        <button type="submit" class="btn" mat-raised-button color="primary" (click)="onsave()">Update</button>
        <button mat-raised-button class="btn" color="warn" (click)="oncancel()">Cancel</button>
      </form>
      
</ion-content>
