<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divback">
    <ion-slides [options]="forslider" pager="true" paginationType="fraction">
      <ion-slide>
          <img src="http://localhost:3000/images/product/offer1.jpg">
      </ion-slide>
      <ion-slide>
          <img src="http://localhost:3000/images/product/offer2.jpg">
      </ion-slide>
      <ion-slide>
          <img src="http://localhost:3000/images/product/offer3.jpg">
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<!-- <ion-card>
    <ion-card-header>
      <ion-card-content>
          <img src="http://localhost:3000/images/product/{{item.p_img}}">
      </ion-card-content>
    </ion-card-header>
  </ion-card> -->