<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Filter<ion-icon (click)="onclickcart()" style="margin-left:130px;margin-top:15px;" name="cart"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>Choose Range</p>
  <ion-item>
    <ion-range (ionChange)="optionsFn(category)" min="100" max="200" color="secondary">
      <ion-label slot="start">100</ion-label>
      <ion-label slot="end">200</ion-label>
    </ion-range>
  </ion-item>


  <p>Choose Range:-</p>
  <ion-item>
      <ion-label>Select Range</ion-label>
      <ion-select (ionChange)="optionsFn(category,range)" [(ngModel)]="range"  multiple="false">
        <ion-select-option  value="20">Upto 20</ion-select-option>
        <ion-select-option   value="50">Upto 50</ion-select-option>
        <ion-select-option  value="100">Upto 100</ion-select-option>
        <ion-select-option  value="150">Upto 150</ion-select-option>
      </ion-select>
    </ion-item>


<p>Choose Category:-</p>
  <ion-item>
      <ion-label>Category</ion-label>
      <ion-select (ionChange)="optionsFn(category,range)" [(ngModel)]="category"  multiple="false">
          <ion-select-option  *ngFor="let item of catarr"  [value]="item.cat_id">{{item.cat_name}}</ion-select-option>
        <!-- <ion-select-option  value="Vegetable">Vegetable</ion-select-option>
        <ion-select-option   value="Grocery">Grocery</ion-select-option>
        <ion-select-option  value="Fruits">Fruits</ion-select-option> -->
      </ion-select>
    </ion-item>
    
    
</ion-content>

<ion-footer style="background-color:white;">
    <ion-button expand="full" (click)="onclickapply()" shape="round">Apply Filter</ion-button>
  </ion-footer>
  
